extends layout

block content
  h1= title
  p= stepInformation

  p Folder synchronisation list:
  form(action="/dropbox/services", method="post")
    ul.folderList#folderList
      li.tablerow
        span.tablecell Sync?
        span.tablecell Check subfolder?
        span.tablecell Folder name

      - each item in folderList
        li.tablerow
          span.tablecell
            input(type="checkbox", name="folderList", value=item.path_lower)
          span.tablecell
            input(type="checkbox", name="recursive", value=item.path_lower)
          span.tablecell= item.path_lower

    button(type="submit") Add Folder